<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
       The levels are as follows, the log level logs the described level + all below it.
       ALL
       TRACE
       DEBUG
       INFO
       WARN
       ERROR
       OFF   - no logging at all
   -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./multmodule.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./%d{yyyy-MM, aux}/multmodule-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.pe.multimodule" level="DEBUG" />
    <logger name="org.hibernate.SQL" level="ERROR" />

    <!-- 3rd party -->
    <logger name="org.apache" level="ERROR" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.springframework.web.socket.messaging.WebSocketAnnotationMethodMessageHandler" level="ERROR" />
    <logger name="org.springframework.beans.factory.support" level="ERROR" />
    <logger name="org.springframework.boot.autoconfigure" level="ERROR" />

    <logger name="io.grpc.netty" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
